<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>

<table>
<tr>
<td colspan="5" class="calOutputBkg"><p class="calOutput">{{ output }} <br> {{ pendingOperation }} </p></td>
</tr>
<tr>
 <td><button name="btn1" class="numberbutton" value="1" (click)="updateOutput('1')">1</button></td>
 <td><button name="btn2" class="numberbutton" value="2" (click)="updateOutput('2')">2</button></td>
 <td><button name="btn3" class="numberbutton" value="3" (click)="updateOutput('3')">3</button></td>
 <td><button name="btnplus" class="numberbutton" value="+" (click)="operation('+')">+</button></td>
 <td><button name="btnpow" class="numberbutton" value="^" (click)="operation('^')">^</button></td>
</tr>
<tr>
 <td><button name="btn4" class="numberbutton" value="4" (click)="updateOutput('4')">4</button></td>
 <td><button name="btn5" class="numberbutton" value="5" (click)="updateOutput('5')">5</button></td>
 <td><button name="btn6" class="numberbutton" value="6" (click)="updateOutput('6')">6</button></td>
 <td><button name="btnsub" class="numberbutton" value="-" (click)="operation('-')">-</button></td>
 <td><button name="btnsqrt" class="numberbutton" value="sqrt" (click)="operation('sqrt')">&radic;</button></td>
</tr>
<tr>
 <td><button name="btn7" class="numberbutton" value="7" (click)="updateOutput('7')">7</button></td>
 <td><button name="btn8" class="numberbutton" value="8" (click)="updateOutput('8')">8</button></td>
 <td><button name="btn9" class="numberbutton" value="9" (click)="updateOutput('9')">9</button></td>
 <td><button name="btnmulti" class="numberbutton" value="*" (click)="operation('*')">*</button></td>
 <td rowspan='2'><button name="btnequal" class="equalbutton" value="=" (click)="calculateTotal()">=</button></td>
</tr>
<tr>
 <td><button name="btnclear" class="clearbutton" value="clear" (click)="clearOutput()">Clear</button></td>
 <td><button name="btn0" class="numberbutton" value="0" (click)="updateOutput('0')">0</button></td>
 <td><button name="btndot" class="numberbutton" value="." (click)="updateOutput('.')">.</button></td>
 <td><button name="btndivide" class="numberbutton" value="/" (click)="operation('/')">/</button></td>
</tr>
</table> 

</div>
